.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.3s, z-index 0s 0.3s;
  z-index: -1;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transition: opacity 0.6s ease, visibility 0.3s, z-index 0s;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  line-height: 20px;
  transform: scale(0.95);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  border-radius: 20px;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 8px 0 4px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  flex-direction: column;
  display: flex;
  gap: 8px;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal__image {
  width: 100%;
  height: 498px;
  top: 106px;
  left: 471px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__submit {
  width: 124px;
  height: 36px;
  top: 557px;
  left: 500px;
  gap: 12px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}
.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  position: relative;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.modal__weather {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-weight: 700;
}

.modal__delete {
  position: absolute;
  top: 0;
  right: 40px;
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
}

.modal__delete:hover {
  color: #e03900;
}

.modal__delete_hidden {
  display: none;
}
